<div class="container pt-5 mb-5">
  <div class="row mt-3 mb-3">
    <%= link_to patient_path(@consultation.patient) do %>
      <button type="button" class="btn btn-primary">< Patient Details</button>
    <% end  %>
  </div>
  <div class="row">
    <h1>Edit Constultation</h1>
    <h2>for <%= @consultation.patient.first_name %> <%= @consultation.patient.last_name %></h2>
  </div>
  <%= simple_form_for @consultation, url: patient_consultation_path do |f| %>
    <%= f.input :notes_before, as: :rich_text_area, :input_html => { style: 'height: 60vh' } %>
    <%= f.input :notes_after, as: :rich_text_area, :input_html => { style: 'height: 60vh' } %>
    <%= f.input :notes_to_send, as: :rich_text_area, :input_html => { style: 'height: 60vh' } %>
    <% if policy(@consultation).update? %>
      <%= f.submit "Save", class: "btn btn-primary" %>
      <%= link_to patient_path(@consultation.patient) do %>
        <button type="button" class="btn btn-primary">Cancel</button>
      <% end  %>
    <% end  %>
  <% end %>
</div>
