<div class="container pt-5">
  <div class="row">
    <h1>New Constultation</h1>
    <h2>for <%= @patient.first_name %> <%= @patient.last_name %></h2>
  </div>
  <%= simple_form_for [@patient, @consultation] do |f| %>
    <%= f.input :notes_before, as: :text, :input_html => { :cols => 4, :rows => 8 } %>
    <%= f.input :notes_after, as: :text, :input_html => { :cols => 4, :rows => 8 } %>
    <%= f.submit "Save", class: "btn btn-primary" %>
    <%= link_to patient_path(@patient) do %>
      <button type="button" class="btn btn-primary">Cancel</button>
    <% end  %>
  <% end %>
</div>
