<div class="container pt-5 bg-light">
  <div class="row bg-light" >
    <div class="col">
      <h1 class="page-header ">Patients</h1>
    </div>
    <div class="col">
      <%= form_with url: patients_path, method: :get, class: "d-flex" do %>
        <%= text_field_tag :query,
          params[:query],
          class: "form-control",
          placeholder: "Find a patient"
        %>
        <%= submit_tag "Search", class: "btn btn-primary" %>
      <% end %>
    </div>
    <div class="col text-end">
    <%= link_to new_patient_path do %>
      <button type="button" class="btn btn-primary">New Patient</button>
     <% end  %>
    </div>
  </div>
  <table class="table mt-3 table-light table-striped table-hover">
    <%= render "shared/patient_header" %>
    <tbody>
      <% @patients.each do |patient| %>
      <tr>
        <%= render "shared/patient_info", patient: patient %>
        <td>
          <%= link_to patient_path(patient) do %>
          <i class="fa fa-eye" aria-hidden="true"></i>
          <% end  %>
        </td>
        <td>
          <%= link_to edit_patient_path(patient) do %>
          <i class="fa-solid fa-pen-to-square"></i></i>
          <% end  %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <div class="row custom-pagination">
    <%= paginate @patients, window: 2 %>
  </div>
</div>
