<div class="container pt-5">
  <div class="row">
    <%= link_to patients_path do %>
      <button type="button" class="btn btn-primary">< List of Patients</button>
    <% end  %>
  </div>
  <div class="row mt-3">
    <h1>New Patient</h1>
  </div>
  <%= simple_form_for @patient do |f| %>
    <%= f.input :first_name %>
    <%= f.input :last_name %>
    <%= f.input :birthdate, as: :date, html5: true,
                start_year: Date.today.year - 90,
                end_year: Date.today.year - 12,
                discard_day: true,
                order: [:month, :year] %>
    <%= f.input :phone %>
    <%= f.input :email %>
    <%= f.input :dni %>
    <%= f.input :address %>
    <%= f.button :submit, 'Save', class:'btn btn-primary' %>
  <% end %>
</div>
