<div class="container">
  <div class="row">
    <%= @patient.first_name %>
    <%= @patient.last_name %>
    <%= @patient.birthdate %>
    <%= @patient.phone %>
    <%= @patient.address %>
    <%= @patient.email %>
    <%= @patient.dni %>
  </div>
</div>
