<div class="container">
  <div class="row">
    <%= @patient.first_name %>
    <%= @patient.last_name %>
    <%= @patient.birth_date %>
    <%= @patient.phone %>
    <%= @patient.address %>
  </div>
</div>
