<div class="container">
  <div class="row mt-3">
    <div class="col-3">
      <h1>Patient details</h1>
    </div>
    <div class="col-3 text-left">
      <%= link_to edit_patient_path(@patient) do %>
        <i class="fa-solid fa-pen-to-square"></i></i>
      <% end  %>
    </div>
    <div class="col-6 text-end">
    <%= link_to new_patient_consultation_path(@patient) do %>
      <button type="button" class="btn btn-primary">New Consultation</button>
     <% end  %>
    </div>
  </div>
  <hr>
  <table class="table mt-3 table-light table-striped">
      <%= render "shared/patient_header" %>
    <tbody>
      <tr>
        <%= render "shared/patient_info", patient: @patient %>
      </tr>
    </tbody>
  </table>
  <div class="row pt-3">
    <h2 class="pb-3">Consultations</h2>
  </div>
  <div class="container">
    <% @consultations.each do |consultation|  %>
      <div class="row">
        <span class="badge rounded-pill bg-primary"><strong class="strong">Date:</strong> <%= consultation.date %></span>
      </div>
      <%= link_to edit_patient_consultation_path(@patient, consultation) do %>
        <i class="fa-solid fa-pen-to-square"></i></i>
      <% end  %>
      <p>Last update: <%= consultation.updated_at %></p>
      <div class="row pt-3">
        <p><strong>Notes before: </strong></p>
        <p>
          <%= consultation.notes_before %>
        </p>
      </div>
      <div class="row pt-3">
        <p><strong>Notes after: </strong></p>
        <p>
          <%= consultation.notes_after %>
        </p>
      </div>
      <div class="row pt-3">
        <p><strong>Notes to send: </strong></p>
        <p>
          <%= consultation.notes_to_send %>
        </p>
      </div>
      <hr>
    <% end %>
  </div>
</div>
